In [1]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is' ,name)
print('Your age is' ,age)

What is your name? Hulisi
What is your age? 43
Your name is Hulisi
Your age is 43

In [2]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if a == b:
    print("The two numbers are equal")
else:
    print("The two numbers are not equal")

The two numbers are not equal

In [3]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54


if a > b:
    print("a is greater than b")
elif a == b:
    print("a is equal to b")
else:
    print("a is less than b")

a is less than b

In [4]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1, 6):
    print(k)

1
2
3
4
5

In [11]:
#Q5-Using while loop, print 5,4,3,2,1
k = 5

while k >= 1:
    print(k)
    k -= 1

5
4
3
2
1

In [12]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for k in range(10, -1, -2):
    if k != 8:
        print(k)

10
6
4
2
0

In [13]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
from datetime import date

def age(dob_year):
    return date.today().year - dob_year

print(age(1944))

82

In [34]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
 class Arithmetic:
    def add(self, a, b):
        return a + b

    def subtract(self, a, b):
        return a - b

    def multiply(self, a, b):
        return a * b

    def divide(self, a, b):
        if b != 0:
            return a / b
        else:
            return "Error: Division by zero"

IndentationError: unexpected indent (ipython-input-1770472569.py, line 2)

In [35]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n = 3
total = 0

for i in range(1, n+1):
  total += i

print(total)

6

In [23]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.
import random

numbers = []
for _ in range(10):
    numbers.append(random.random())

print(numbers[:3])

[0.137269121971754, 0.5027986868562758, 0.5553910743357164]

In [32]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15

for i in range(1, n+1):
     if i % 3 == 0:
         print(i)

3
6
9
12
15